{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% load static %}

<div class="row sidebar-head">
    <h3>
        <div class="col-xs-1 col-xs-offset-2">
            <a href="/browser/local/">
                <span class="glyphicon glyphicon-home"></span>
            </a>
        </div>
        <div class="col-xs-1 col-xs-offset-1">
            <a href="/browser/settings/">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
        </div>
        <div class="col-xs-1 col-xs-offset-1">
            <a href="/browser/hubic/">
                <img src="{% static 'browser/hubic.png' %}" height="30px" />
            </a>
        </div>
    </h3>
</div>
<!-- Placeholder -->
<div class="row sidebar-head">
    <br/>
</div>
<div class="row sidebar-head">
    <div class="col-xs-10 col-xs-offset-1">
        <div class="row">
            <div class="input-group">
                <input id="folder-search" type="text" class="form-control" placeholder="Search folders" />
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-search"></i>
                </span>
            </div>
        </div>
    </div>
</div>
<!-- Placeholder -->
<div class="row sidebar-head">
    <br/>
</div>

<style type="text/css">
    .sidebar-head {
        background-color: #2980B9;
        color: white;
    }
    .sidebar-head a {
        color: white;
        text-decoration: none;

    }
    .sidebar-head a:hover span, .sidebar-head a:hover img {
        color: white;
        transform: scale(1.5);
    }
</style>

<!-- JQuery Autocomplete -->
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/excite-bike/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>

    (function( $ ) {
        // Custom autocomplete instance.
        $.widget( "app.autocomplete", $.ui.autocomplete, {
            // Which class get's applied to matched text in the menu items.
            options: {
                highlightClass: "ui-state-highlight"
            },
            _renderItem: function( ul, item ) {
                // Replace the matched text with a custom span. This
                // span uses the class found in the "highlightClass" option.
                var re = new RegExp( "(" + this.term + ")", "gi" ),
                    cls = this.options.highlightClass,
                    template = "<span class='" + cls + "'>$1</span>",
                    label = item.label.replace( re, template ),
                    $li = $( "<li/>" ).appendTo( ul );
                // Create and return the custom menu item content.
                $( "<div/>" ).html( label ).appendTo( $li );
                return $li;
            }
        });
        // Create autocomplete instance.
        $(function() {
            $( "#folder-search" ).autocomplete({
                highlightClass: "bold-text",
                source: JSON.parse("{{ autocomplete_source|escapejs }}"),
                minLength: 2,
                select: function (event, ui) {
                    window.location = "/browser/{{ api }}/".concat(ui.item.value);
                }
            });
        });
    })( jQuery );

</script>

<style type="text/css">
    .bold-text {
        font-weight: bold;
    }
</style>
