{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

<div class="container-fluid main-container">
    <div class="row match-height">
        <div id="index_sidebar" class="col-xs-2 sidebar">
            {% include 'browser/_sidebar_head.html' %}
            {% include 'browser/_sidebar_search.html' %}
        </div>
        <div id="index_gallery" class="col-xs-10 main">
            {% include 'browser/_gallery.html' %}
        </div>
    </div>
</div>

<style type="text/css">
    .main-container {
        background-color: #edf0f2;
    }
    .match-height {
        min-height: 100%;
        overflow: hidden;
    }
    .match-height [class*="col-"]{
        margin-bottom: -99999px;
        padding-bottom: 99999px;
    }

    .sidebar {
        min-height: 100%;
        background-color: #404040;
        color: #edf0f2;
        word-spacing: -5px;
    }
    .sidebar h3 {
        font-weight: bold;
        text-align: center;
    }

    .main {
        min-height: 100%;
        color: #404040;
    }
</style>