{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery=1 %}

<div class="container-fluid main-container">
    <div class="row match-height">
        <div id="settings_sidebar" class="col-xs-2 sidebar">
            {% include 'browser/_sidebar_head.html' %}
        </div>
        <div id="settings_main" class="col-xs-10 main">
            <h3>Settings</h3>
            <div class="settings">
                <form action="/settings/" method="post">
                    <div class="form-group row">
                        <label for="home_path" class="col-xs-2 col-form-label">Home directory</label>
                        <div class="col-xs-10">
                            <input id="home_path" class="form-control" type="text" value="{{ settings.home_path }}">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

<style type="text/css">
    .main-container {
        background-color: #edf0f2;
    }
    .match-height {
        min-height: 100%;
        overflow: hidden;
    }
    .match-height [class*="col-"]{
        margin-bottom: -99999px;
        padding-bottom: 99999px;
    }

    .sidebar {
        min-height: 100%;
        background-color: #404040;
        color: #edf0f2;
        word-spacing: -5px;
    }
    .sidebar h3 {
        font-weight: bold;
        text-align: center;
    }

    .main {
        min-height: 100%;
        color: #404040;
    }

    .settings {
        width: 90%;
        margin: 0 auto;
    }
</style>
